.sliderOne {
    overflow: hidden;
    border-radius: 5px;
}

.slidesOne {
    display: flex;
    width: 300%;
}

.slidesOne input {
    display: none;
}

.slideOne {
    width: 33%;
    transition: 2s;
}

.navManualOne {
    position: absolute;
    margin-top: 16.5rem;
    margin-left: 8.5rem;
    display: flex;
}

.manualBtnOne {
    border: 5px solid #F2F1EB;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manualBtnOne:not(:last-child) {
    margin-right: 18.5px;    
}

.manualBtnOne:hover {
    background-color: #F2F1EB;    
}

#radio1One:checked ~.firstOne {
    margin-left: 0;
}

#radio2One:checked ~.firstOne {
    margin-left: -33%;
}

#radio3One:checked ~.firstOne {
    margin-left: -66%;
}

.navAutoOne {
    position: absolute;
    display: flex;
    justify-content: center;
    margin-left: 8.5rem;
    margin-top: 16.5rem;
}

.navAutoOne div{
    border: 5px solid #F2F1EB;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navAutoOne div:not(:last-child) {
    margin-right: 18.5px;
}

#radio1One:checked ~ .navAutoOne .autoBtn1One {
    background-color: #F2F1EB;
}

#radio2One:checked ~ .navAutoOne .autoBtn2One {
    background-color: #F2F1EB;
}

#radio3One:checked ~ .navAutoOne .autoBtn3One {
    background-color: #F2F1EB;
}

