@font-face {
  font-family: "shippori";
  src: url(../public/font/ShipporiGothicB2-Bold.ttf) format('truetype');
}

@font-face {
  font-family: "source";
  src: url(../public/font/SourceHanSansJPSC.ttf) format('truetype');
}

* {
  margin: 0;
  padding: 0;
  font-family: "Bebas Neue", "source", "Kanit", sans-serif;
}
/* Homepage style */
header {
    margin: 0;
    padding: 0 0 10rem 0;
    height: 70rem;
    overflow: hidden;
    background: #D9D8D2;
    background-size: 200% 100%;
    animation: gradient-animation 20s ease infinite;
    color: #403B39;
    display: grid;
    position: sticky;
    top: -12.5rem;
    z-index: auto;
  }
  
@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.nav-link {
    justify-self: end;
    text-decoration: none;
    font-size: 2rem;
    color: #403B39;
    margin: 4.5rem 8rem 0 0 ;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-style: normal;
  }

@keyframes slideUp {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

header section h2 {
    padding-left: 12rem;
    z-index: auto;
    animation: slideUp 2s ease-out forwards;
}

.animated {
  animation: slideUp 2s ease-out forwards;
}

@keyframes fade-out {
  from {
      opacity: 1;
      height: 100%;
  }
  to {
      opacity: 0;
      height: 25%;
  }
}

  .curtain {
    width: 100%; height: 100%;
    background-color: #D9D8D2;
    z-index: 5;
    position: absolute;
    top: 39.5rem; left: auto;
    animation: fade-out 1.5s ease forwards;
    animation-delay: 2.5s;
  }

  /* style font eatch language */
  h2#UK {
    font-size: 25rem;
    font-weight: 400;
    font-style: normal;
    font-family: "Six Caps", sans-serif;
  }

  h2#JP {
    font-size: 18rem;
    padding-left: 8.5rem;
    padding-top: 6rem;
    padding-bottom: 1rem;
    font-family: "shippori", sans-serif;
  }

  p#JP {
    font-size: 3rem;
    font-family: "source", sans-serif;
  }

  span#JP {
    font-size: 13rem;
  }

  div#JP{
    padding-left: 8.5rem;
  }

.ChangeLanguage #JP {
  font-size: 1.75rem;
}

  h2#TH {
    font-size: 13rem;
    padding-left: 8.5rem;
    padding-top: 8rem;
    padding-bottom: 1rem;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
  }

  p#TH {
    font-size: 4.5rem;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
  }

  .ChangeLanguage #TH {
    font-size: 2.2rem;
  }

  div#TH{
    padding-left: 8.5rem;
  }

  .greeting {
    font-size: 5rem;
    font-family: "Playfair Display", serif;
    padding-left: 12rem;
  }

  .welcome {
    font-size: 4.9rem;
  }

  .name {
    font-size: 13rem;
  }

  .ChangeLanguage {
    font-size: 2.1rem;
  }

  .reveal {
    position: relative;
    transform: translateY(50px);
    opacity: 0;
    transition: all 1s ease;
  }

  .reveal.active {
    transform: translateY(0px);
    opacity: 1;
  }

  .languageButton {
    display: flex;
    padding-left: 35rem;
    padding-top: 2rem;
  }

  header button {
    width: 35px; /* Adjust the size of the button */
    height: 35px; /* Adjust the size of the button */
    border-radius: 50%; /* Make the button circular *//* Remove border */
    background-color: #403B39; /* Set background color */
    cursor: pointer;
    margin-left: 1.5rem;
    display: inline-block; /* Change from inline to inline-block */
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  header button:hover {
    animation: jump 1s ease-out;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  }
  
  @keyframes jump {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0); /* Initial position */
    }
    40% {
      transform: translateY(-10px); /* Jump up */
    }
    60% {
      transform: translateY(-5px); /* Jump down */
    }
  }

  .nav-link span {
    transition: transform 0.3s ease;
    font-size: 2.5rem;
  }
  
  .nav-link:hover span {
    transform: translateX(5px) translateY(-5px); /* Adjust the translation values as needed */
  }

  /* main css */

  main {
    width: 100%;
    display: grid;
    margin-top: 35rem;
    z-index: 2;
    position: relative;
    font-weight: 300;
    font-style: normal; 
    background-color: #D9D8D2;
  }

  .into {
    display: flex;
    width: 100%;
    height: 20vh;
    background-color: #0A090D;
    color: #F2F1EB;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }

  /* style intro duction */
/*@media (prefers-reduced-motion: no-preference) {
  .into p {
    scale: .8; opacity: 0;
    font-size: 10rem;
    background-color: #c59c7c;
    animation: fede-in linear forwards;
    animation-timeline: view();
    animation-range: entry;
  }

  @keyframes fede-in {
    to {scale: 1; opacity: 1;}
  }
}*/
.contain {
  display: flex;
  height: 90vh;
  justify-content: center;
}

.contain section {
  width: 24rem;
  background-color: #f2F1EC;
  padding: 1rem;
  box-shadow: 2.5px 2.5px 10px rgba(0, 0, 0, 0.2);
}

.sectionSp {
  position: absolute;
  left: 44.5rem;
  top: 13rem;
  font-size: 1.2rem;
  word-spacing: 4px; 
  letter-spacing: 1.6px;
}

#curve {
  fill: transparent;
}

.text {
  transform-origin: 50% 50%;
  animation: rotate 20s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.cat {
  width: 8rem;
  height: auto;
  position: absolute;
  z-index: auto;
  top: 17.5rem;
}

.secOne img {
  width: 100%;
  height: auto;
}

.secOne {
  margin-top: -3rem;
  height: 50rem;
}

.secOne p {
  font-family: "Roboto Condensed";
  font-weight: 450;
  line-height: 1.35;
  padding-top: 2rem;
  font-size: 1.62rem;
}

.secTwo img {
  width: 400px;
  border-radius: 0.5rem;
}

.secTwo {
  font-size: 1.5rem;
  margin: 17rem 3rem 0 3rem ;
  height: 36.5rem;
  z-index: 1;
}

.secTwo p {
  font-family: "Roboto Condensed";
  font-weight: 450;
  line-height: 1.35;
  padding-bottom: 2rem;
  font-size: 1.62rem;
}

.secThree img {
  width: 100%;
  height: auto;
}

.secThree {
  font-size: 1.5rem;
  height: 38rem;
  margin-top: 3rem;
}

.secThree p {
  font-family: "Roboto Condensed";
  font-weight: 450;
  line-height: 1.35;
  padding-bottom: 2rem;
  font-size: 1.62rem;
}

.nav-link-two {
  position: absolute;
  left: 80.2rem; top: 60rem;
  text-decoration: none;
  font-size: 1.8rem;
  color: #403B39;
  transition: transform 0.3s ease;
  letter-spacing: 0.2px;
}

.arrow {
  transition: opacity 0.3s ease; /* Add a transition for opacity */
}

.more {
  position: absolute;
  right: 4rem;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease; /* Add transitions for opacity and transform */
  transform: translateX(100%); /* Initially move the "more" span off-screen */
}

.nav-link-two:hover .arrow {
  opacity: 0; /* Hide the arrow when hovering */
}

.nav-link-two:hover {
  transform: translateX(35px);/* Move the "Details" span to the left when hovering */
}

.nav-link-two:hover .more {
  opacity: 1; /* Make the "more" span visible when hovering */
  transform: translateX(-35px); /* Slide the "more" span in from the right */
}